page-home {
    @import url('https://fonts.googleapis.com/css?family=Courgette|Josefin+Sans&display=swap');
    .content{
        height: 100%;

       background:rgb(56, 106, 243);
    }
    .parent{
        height: 25%;
     
        background: white;
      
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        color: rgb(5, 58, 119);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        justify-content: flex-end;
        letter-spacing: 10px;
        box-shadow: 5px 5px 5px 3px rgb(33, 75, 124);
    
        

    }

    .box1{
        height: 60%;
        width: 82%;
        display: flex;
      flex-direction: row;
        background:#00398e;
        border-radius: 30px 2px 30px 30px;
        
        margin: 10px 0px 10px 12px;
        margin: 0px 25px;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            letter-spacing: 0em;
              color: aliceblue;
        }
        .money{
            font-size: 5vw;
        }
        .info{
            margin: 10px;
            padding: 10px;
            margin-right: 10px;
        }


  
       
       
    }
    .ttext{
        color: black;

    }
    

        
        
     

    }
   
    
    .add1{
        text-align: center;
    }

    .expand {
        width: 100%;
  color : rgb(3, 2, 2);
        position: absolute;
        bottom: 0%;
        z-index: 6;
        height: 60%;
        background-image: linear-gradient( rgb(182, 205, 219), rgb(55, 104, 238));
        transition: 1s;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        
    
   
     }
     .inputts{
         background: rgba(245, 245, 245, 0.973);
         margin: 5px;
         padding: 4px;
      

         border-radius: 40px;

     }

     .myImage{
         background-color: #ffffff;
         width: 35%;
         border-radius: 30px;
         height: 30px;
         color: rgb(102, 102, 102);
     }

     .inputt{
         left: 10px;

     }
     .input1{
        background: rgb(255, 255, 255); 
        margin: 5px;
        padding: 4px;
        width: 30%;
      

        border-radius: 40px;

     }

    
     
     .boxxx{
         display: flex;

     }
     .minimized {
        bottom: 10%;
        right: 10%;
        left: 10%;
        top: 80%;
        background:rgb(92, 127, 221);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
 
     
        
      
    }

    
 
    .itemms{
        text-align: center;
        margin: 2px;
        color: rgba(255, 255, 255, 0.822);
        
    }


  
  .form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;

    text-align: center;

   
    width: 10.5em;
    
    animation: pop-in 10s;
  }
//   .small.text{
//       color: rgb(128, 128, 128);
//       font-size: 10px;
//   }
  
//   header{
//     font-size: 0.9em;
 
//     color:rgb(255, 255, 255);
//     // border-radius: 0.2em 0.2em 0px 0px;
//     transform-origin: left center;
//     opacity: 0;
    
//     animation-delay: 0.5s;
//     animation-name: slideX;
//     animation-duration: 0.5s;
//     animation-fill-mode: forwards;
  // }
  
  
  .form input {
    // padding: 5px;
    // margin: 5px;
    animation: pop-in 5s;
  }
  

  
  .form input:nth-child(1) {
    animation-delay: 0.1s;
  }
  .form input:nth-child(2) {
    animation-delay: 0.2s;
  }
  .form input:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .additem {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 14px;
    
  }
  
  .submit {
    background-color: #0b7fdd;
    border: none;
    color: #F5F5F5;
    border-radius: 10em;
    border: red;
   
  }
  .Close {
    background-color: #ffffff;
    border: none;
    color: rgb(230, 39, 14);
    border-radius: 20em;
    
   
  }
.btn1{
   background: #67a0f5;
   margin-bottom: 10px;
   height: 10%;
     width: 100%;
    color: rgb(240, 0, 0);
        position: absolute;
 
        bottom: 8%;
}
  
.iicon{
text-align: center;
align-content: center;
justify-content: center;
}
 h1{
   text-align: center;
 }   

  ion-button{
    padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }  
img{
  border-radius: 30px;
}
