page-history {
    .content{
        height: 100%;
        background-image: linear-gradient( rgba(212, 215, 228, 0.664), #3657b3);
        font-family: 'Josefin Sans', sans-serif;
    }
    .fabb{

      margin-top: -10px;
      margin-right: -30px;
    }
    .ion-segment{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
    }

    #chart_div{
        font-size: 10px;
    }
    .heading{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
    }


    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        pointer-events: none;
      }
       
      /* high-performance display:none; helper */
      .gu-hide {
        left: -9999px !important;
      }
       
      /* added to mirrorContainer (default = body) while dragging */
      .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }
       
      /* added to the source element while its mirror is dragged */
      .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
      }
      .two{
            
        padding-left: 8vw;
        justify-items: center;
        box-shadow: 0px 0px 0px 0px rgb(33, 75, 124);
        letter-spacing: 1px;
        padding-top: 2%;
        flex: 1;
        h1, p {
          text-align: left;
          font-family: 'Josefin Sans', sans-serif;
        }
        h2{
          font-size: 6vw;
          font-family: 'Josefin Sans', sans-serif;
        }
        .info{
          border-radius: 20px;
          
        }
      }
    
}
