
<ion-header >
  <!-- <ion-navbar> -->
      <ion-buttons left>
          <button ion-button icon-only (click)="close()" style="color: blue ;background-color: transparent;">
              <ion-icon name="arrow-back" (click)="close()"></ion-icon>
          </button>
      </ion-buttons>
  <!-- </ion-navbar> -->
  </ion-header>
<ion-content>
  <br><br>

<!-- <ion-fab top right>
  <button ion-fab mini (click)="close()" style="color:rgb(19, 18, 18);background:transparent;">X</button>
</ion-fab> -->
<br><br>
  <div>
    <ion-segment [(ngModel)]="segment">


      <ion-segment-button value="fill_up">
        Fill Up
      </ion-segment-button>

      <!-- <ion-segment-button value="list">
         Saved list
        </ion-segment-button> -->
      <ion-segment-button value="totals">
        Supermarket Totals
      </ion-segment-button>

    </ion-segment>
  </div>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'totals'">
      <!-- <ion-item>
            <button ion-button (click)="showChart()" clear >View item Overview</button>
   
            <div id="chart_div">
            
            </div>
        </ion-item> -->
      <!-- <ion-item>
          Shoprite:R {{totals}}.00
        </ion-item>
        <ion-item>
          Pick n Pay:R{{totals1}}.00
        </ion-item>
        <ion-item>
          Checkers:R {{totals2}}.00
        </ion-item>
        <ion-item>
          Game:R{{totals3}}.00
        </ion-item>
        <ion-item>
          Spar:R{{totals4}}.00
        </ion-item>
        <ion-item>
          Cambridge: R{{totals5}}.00
        </ion-item>
        <ion-item>
          Boxer:R{{totals6}}.00
        </ion-item> -->
        <ion-col col-2>
          <div class="two">
            <p>Shoprite</p>
            <h1><strong> {{totals | currency: '&#82;'}}</strong></h1>
          </div>
      </ion-col>
      <ion-col col-2>
          <div class="two">
            <p> Pick n Pay</p>
            <h1><strong>{{totals1 | currency: '&#82;'}}</strong></h1>
          </div>
      </ion-col>
      <ion-col col-2>
          <div class="two">
            <p> Checkers</p>
            <h1><strong>{{totals2 | currency: '&#82;'}}</strong></h1>
          </div>
      </ion-col>
      <ion-col col-2>
          <div class="two">
            <p>Game</p>
            <h1><strong>{{totals3 | currency: '&#82;'}}</strong></h1>
          </div>
      </ion-col>
      <ion-col col-2>
          <div class="two">
            <p> Spar</p>
            <h1><strong>{{totals4 | currency: '&#82;'}}</strong></h1>
          </div>
      </ion-col>
      <ion-col col-2>
          <div class="two">
            <p> Cambridge</p>
            <h1><STRONG> {{totals5 | currency: '&#82;'}}</STRONG></h1>
          </div>
      </ion-col>
      <ion-col col-2>
          <div class="two">
            <p>Boxer</p>
            <h1><STRONG>{{totals6 | currency: '&#82;'}}</STRONG> </h1>
          </div>
      </ion-col>
      <ion-col col-2>





        <div class="two">
          <h1><strong> Other</strong></h1>
          <p> {{totals00 | currency: '&#82;'}}</p>


        </div>


    </ion-col>


    </ion-list>


  </div>


  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'totals'">
      <!-- <div class="box1">
          <p>TOTAL</p>
          <h3 class="">
           <strong>{{total | currency: '&#82;'}}</strong><br>
      
          </h3> -->

    </ion-list>





    <div [ngSwitch]="segment">

      <ion-grid padding *ngSwitchCase="'fill_up'">




        <ion-row>
 

          <ion-col col-14>
            <div class="q-header">Saved</div>
            <ion-list>
              <ion-item *ngFor="let item of q2 let i =index" [color]="item.color" expand="block" text-wrap (press)="data(item,i)">
                <div class="main">
                  <div class="one1">
                    <ion-avatar slot="start">
                      <img src="{{item.doc.image}}" alt="" >
                    </ion-avatar>
                  </div>
                  <div class="two">
                    <p><strong>{{ item.doc.name }}</strong><br>
                      R{{ item.doc.price }}<br>
                      Item:{{ item.doc.quantity}}</p>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-col>

          <!-- <ion-col col-6>
            <div class="q-header">Shopping list</div>
            <ion-list >
              <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>

                <div class="main">
                  <div class="one1">
                    <ion-avatar slot="start">
                      <img src="{{item.image}}" alt="" >
                    </ion-avatar>
                  </div>
                  <div class="two">
                    <p><strong>{{ item.name }}</strong><br>
                      R{{ item.price }}<br>
                      Item:{{ item.quantity}}</p>
                  </div>
                </div>

              </ion-item>
            </ion-list>
          </ion-col>


        </ion-row>
 -->


      <!-- </ion-grid> -->




    <!-- </div> -->
